.App {
  text-align: center;
  width:100%;
}

.App-header {
  background-color: #8fd7f0;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  text-shadow: 1px 1px white;
}

.Body {
  background-color: #e8f7fc;
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: black;
  padding-bottom: 40px;
}

.Body h1 {
  font-size: calc(10px + 4vmin);
  font-weight: 600;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Body h2 {
  font-size: calc(10px + 3vmin);
  font-weight: 500;
  margin: 10px;
}

.Body p {
  margin: 0px;
}

.Body br {
  margin: 5px;
}

.A1 {
  width: 90%;
  height: 70%;
  padding-top: 10px;
  padding-bottom: 30px;
}

.A1 p {
  padding-bottom: 20px;
}